<h2>ASURANSI DEMAM BERDARAH</h2><br>
    1. Apa yang dimaksud dengan Asuransi Demam Berdarah?<br>
Jawab: Asuransi yang memberikan santunan apabila peserta asuransi terkena penyakit demam Berdarah sebesar  Rp 2.000.000 per voucher dengan maksimal santunan Rp. 10.000.000,- (pembelian voucher maksimal 5 voucher untuk 1 nama peserta).<br>
<br>
    2. Berapa harga Asuransi Demam Berdarah?<br>
Jawab: Harga Asuransi Demam Berdarah adalah Rp.50.000,- untuk 1 tahun<br>
<br>
    3. Berapa usia peserta yang dicover oleh Asuransi Demam Berdarah?<br>
Jawab: 6 bulan-65 tahun
<br>
    4. Risiko apa yang dijamin oleh asuransi ini?<br>
Jawab: Asuransi ini hanya menjamin peserta yang terkena penyakit demam berdarah dengan santunan sebesar Rp2.000.000,-<br>
<br>
    5. Berapa cover maksimal yang dapat dimiliki untuk 1 nama peserta?<br>
Jawab: Pembelian maksimal adalah 5 polis untuk 1 nama peserta<br>
<br>
    6. Bagaimana jika peserta sudah memiliki BPJS atau asuransi lain?<br>
Jawab: Asuransi Demam Berdarah ACA bersifat santunan, sehingga meskipun peserta sudah memiliki BPJS/asuransi lain peserta tetap akan mendapat santunan dari asuransi ini.<br>

    7. Kapan periode asuransi dimulai?<br>
Jawab: Asuransi mulai berlaku pada hari ke-15 setelah tanggal daftar nama peserta asuransi diterima sistem ACA, dan akan berakhir pada tanggal dan bulan yang<br> sama tahun berikutnya. Misal: data nasabah diterima sistem ACA tanggal 1 Juli 2014, maka periode polis mulai berlaku pukul 00.00 tanggal 15 Juli 2014 hingga pukul 24.00 tanggal 15 Juli 2015.<br>

    8. Bagaimana cara mengajukan klaim dan dokumen apa saja yang diperlukan?<br>
Jawab: Hubungi hotline ACA di 021 - 31999100. Dokumen klaim yang diperlukan adalah sebagai berikut :<br>
1. Fotokopi KTP / KK <br>
2. Surat Keterangan dari dokter yang menyatakan bahwa peserta terkena Demam Berdarah<br>
3. Surat Keterangan Laboratorium bahwa jumlah trombosit kurang dari 100.000<br>
Semua dokumen klaim dikirim ke kantor cabang ACA terdekat atas biaya peserta asuransi<br>
<br>
    9. Berapa lama waktu yang diperlukan hingga klaim dibayarkan?<br>
Jawab: Dalam waktu maksimal 10 hari kerja setelah semua dokumen klaim dilengkapi dan santunan klaim dinyatakan dapat dibayarkan.<br>
<br>
    10. Berapa kali peserta dapat mengajukan klaim?
Jawab: Asuransi Demam Berdarah hanya bisa satu kali diklaim. Periode asura<br>nsi akan otomatis berakhir jika santunan dibayar ke peserta asuransi.
<br>
    11. Jika berdasarkan hasil lab, trombosit peserta lebih dari 100.000 sel/mm3, tetapi dokter sudah menyatakan bahwa peserta terkena demam berdarah, apakah klaim akan diterima?<br>
Jawab: Tidak. Persetujuan klaim harus meliputi seluruh kriteria klaim yang telah disebutkan di atas. Jika salah satu kriteria tidak terpenuhi, klaim akan<br> ditolak. Oleh karena itu, meskipun dokter menyatakan peserta terkena demam berdarah, tetapi trombosit masih di atas 100.000, klaim tetap ditolak.<br>
<br>
    12. Apa yang menyebabkan klaim ditolak?<br>
Jawab: Klaim akan ditolak jika:<br>
1. Dokumen klaim tidak lengkap<br>
2. Masih dalam masa tunggu<br>
3. Jumlah trombosit diatas 100.000 sel/mm3<br>
4. Jika diketahui adanya fraud<br>
