<h2>TANYA DAN JAWAB</h2>
<br/>
<h3>ASURANSI DEMAM BERDARAH</h3><br/>
    <b>1. Apa yang dimaksud dengan Asuransi Demam Berdarah?</b><br/>
<b>Jawab:</b> Asuransi Demam Berdarah merupakan produk asuransi yang memberikan santunan apabila:<br/>
&nbsp;&nbsp;1.1. Berdasarkan hasil diagnosis Laboratorium Klinik/Rumah Sakit menunjukkan jumlah Trombosit Peserta kurang dari atau/sama dengan 100.000 sel/milimeter kubik; dan <br/>
&nbsp;&nbsp;1.2. Surat Keterangan Dokter menyatakan Peserta positif menderita Demam Berdarah Dengue dan bukan merupakan diagnosis indikasi.<br/>
<br/>
    <b>2. Berapa harga Asuransi Demam Berdarah?</b><br/>
    <b>Jawab:</b> Harga Asuransi Demam Berdarah per voucher adalah Rp.50.000,- dengan masa berlaku 1 tahun.<br/>
<br/>
    <b>3. Berapa santunan Asuransi Demam Berdarah?</b><br/>
<b>Jawab:</b> Asuransi Demam Berdarah memberikan santunan sebesar Rp. 2.000.000,- per voucher.<br/>
<br/>
    <b>4. Berapa maksimal pembelian dan santunan Asuransi Demam Berdarah?</b><br/>
<b>Jawab:</b> Asuransi Demam Berdarah dapat dibeli sebanyak maksimal 5 voucher untuk 1 Nomor Induk Kependudukan (NIK) dengan maksimal santunan hingga Rp. 10.000.000,-.<br/>
<br/>
    <b>5. Berapa usia Peserta yang dapat dilindungi oleh Asuransi Demam Berdarah?</b><br/>
    <b>Jawab:</b> 6 bulan s/d 65 tahun.<br/>
     (Periode berakhir saat usia Peserta melebihi 65 tahun).<br/>
<br/>
    <b>6. Bagaimana jika Peserta sudah memiliki BPJS atau asuransi lain?</b><br/>
<b>Jawab:</b> Asuransi Demam Berdarah ACA bersifat santunan sehingga Peserta tetap akan mendapat santunan meskipun Peserta sudah memiliki BPJS/asuransi lain.<br/>
<br/>
    <b>7. Kapan periode asuransi dimulai?</b><br/>
<b>Jawab:</b> Asuransi Demam Berdarah mulai berlaku pada hari ke-15 setelah tanggal daftar nama peserta asuransi diterima oleh sistem ACA. Asuransi ini akan berakhir pada tanggal dan bulan yang sama pada tahun berikutnya. Contoh: data Peserta diterima oleh sistem ACA pada tanggal 1 Juli 2019, maka periode asuransi mulai berlaku pada tanggal 15 Juli 2019 pukul 00:00 hingga tanggal 15 Juli 2020 pukul 23:59.<br/>
<br/>
    <b>8. Bagaimana cara mengajukan klaim dan dokumen apa saja yang diperlukan?</b><br/>
<b>Jawab:</b> Dalam waktu 30 (tiga puluh) hari kalender sejak tanggal terjadinya musibah, Peserta/Ahli Waris wajib melaporkan musibah yang terjadi melalui Hotline ACA 24 Jam (021 31999100) atau Whatsapp ke 0878 8080 3232. Setelah melakukan pelaporan musibah, pihak ACA akan meminta Peserta/Ahli Waris untuk melengkapi dokumen klaim dalam waktu 60 (enam puluh) hari kalender sejak tanggal terjadinya musibah.<br/>
Adapun dokumen klaim yang diperlukan adalah sebagai berikut :<br/>
&nbsp;&nbsp;8.1. Fotokopi Kartu Tanda Penduduk (KTP) Peserta atau bagi Peserta yang berusia di bawah 17 tahun dapat diganti dengan Akte Lahir Peserta;<br/>
&nbsp;&nbsp;8.2. Fotokopi Kartu Keluarga (KK) Peserta;<br/>
&nbsp;&nbsp;8.3. Asli/fotokopi legalisir hasil diagnosis Laboratorium Klinik/Rumah Sakit yang resmi terdaftar di dinas kesehatan setempat dan menyebutkan nama lengkap penanggung jawab Laboratorium dengan menunjukkan jumlah Trombosit Peserta kurang dari/atau sama dengan 100.000 sel/milimeter kubik;<br/>
&nbsp;&nbsp;8.4. Asli/fotokopi legalisir Surat Keterangan Dokter dengan menyebutkan nama dokter secara jelas yang menyatakan Peserta positif menderita/meninggal karena Demam Berdarah Dengue dan bukan merupakan diagnosis indikasi; dan<br/>
&nbsp;&nbsp;8.5. Jika Peserta meninggal dunia, santunan diberikan kepada Ahli Waris yang dibuktikan dengan dokumen tambahan :<br/>
&nbsp;&nbsp;&nbsp;&nbsp;8.5.1. 	Surat Pernyataan Ahli Waris dari Kelurahan/Kepala Desa setempat, dan;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;8.5.2.	Fotokopi Kartu Keluarga (KK) Ahli Waris<br/>
Dokumen klaim dikumpulkan secara langsung ke Cabang ACA yang paling dekat dengan Peserta/Ahli Waris. Segala biaya pengajuan klaim ditanggung sendiri oleh Peserta/Ahli Waris.<br/>
<br/>
    <b>9. Apakah proses pengajuan klaim dapat dilakukan melalui Agen Toko Pandai?</b><br/>
    <b>Jawab:</b> Peserta boleh meminta bantuan Agen Toko Pandai untuk proses pengajuan klaim. Akan tetapi, Agen Toko Pandai hanya berperan sebagai penghubung antara Peserta dengan ACA.<br/>
    <br/>
    <b>10. Berapa lama waktu yang diperlukan hingga klaim dibayarkan?</b><br/>
    <b>Jawab:</b> Santunan akan dibayarkan maksimal 10 (sepuluh) hari kerja setelah semua dokumen klaim dilengkapi dan santunan klaim dinyatakan dapat dibayarkan.<br/>
    <br/>
    <b>11. Berapa kali Peserta dapat mengajukan klaim?</b><br/>
    <b>Jawab:</b> Pengajuan klaim Asuransi Demam Berdarah hanya dapat dilakukan sebanyak 1 (satu) kali. Apabila Peserta memiliki lebih dari 1 voucher Asuransi Demam Berdarah, Peserta dapat mengajukan klaim seluruh voucher yang dimilikinya secara bersamaan. Periode asuransi akan otomatis berakhir jika santunan sudah dibayarkan ke peserta asuransi.<br/>
    <br/>
    <b>12. Jika berdasarkan hasil lab, trombosit peserta lebih dari 100.000 sel/mm3, tetapi dokter sudah menyatakan bahwa Peserta terkena demam berdarah, apakah klaim akan diterima?</b><br/>
    <b>Jawab:</b> Tidak. Persetujuan klaim harus meliputi seluruh kriteria klaim yang telah disebutkan di atas (poin 1). Apabila salah satu kriteria tidak terpenuhi, klaim akan ditolak. Oleh karena itu, klaim tetap ditolak meskipun dokter menyatakan Peserta terkena demam berdarah, tetapi trombosit Peserta masih di atas 100.000 sel/milimeter kubik.<br/>
    <br/>
    <b>13. Apa yang menyebabkan klaim ditolak?</b><br/>
    <b>Jawab:</b> Klaim akan ditolak apabila:<br/>
    &nbsp;&nbsp;1. pelaporan musibah atau pengajuan klaim dilakukan setelah 30 (tiga puluh) hari kalender sejak tanggal terjadinya musibah;<br/>
    &nbsp;&nbsp;2. dokumen klaim tidak lengkapi dalam waktu 60 (enam puluh) hari kalender sejak tanggal terjadinya musibah;<br/>
    &nbsp;&nbsp;3. musibah terjadi ketika masih dalam masa tunggu atau di luar periode masa berlaku asuransi;<br/>
    &nbsp;&nbsp;4. jumlah trombosit diatas 100.000 sel/mm3; <br/>
    &nbsp;&nbsp;5. kepesertaan telah dibatalkan oleh ACA maupun Peserta; dan/atau<br/>
    &nbsp;&nbsp;6. diketahui adanya itikad tidak baik dari Peserta/Ahli Waris.<br/>
